.aurora-container {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .aurora-container {
    height: 35vh !important;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }

  .aurora-container canvas {
    /* Stretch the width way past the screen and center it */
    width: 250% !important;
    transform: translateX(-30%);
    height: 100% !important;
    /* Stretching explicitly to disregard aspect ratio */
    object-fit: fill !important;
  }
}
